<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importing-Packages" data-toc-modified-id="Importing-Packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importing Packages</a></span></li></ul></div>

## Importing Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from statsmodels.tsa.statespace.sarimax import SARIMAX
# Import ARIMA model.
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

%matplotlib inline

# We are required to do this in order to avoid "FutureWarning" issues.
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
# #CREATE FUNCTION THAT READS IN CSV AND AND CLEANS DATA
# def data_reader_cleaner(df):
# # 1) read in csv
# data = pd.read_csv('./data/data_1.csv')
# # 2) reset_index
# data.reset_index(inplace=True)
# # 3)set colunms as row 0 
# data.columns = data.iloc[0]
# # 4) drop first and last columns
# data.drop([0,31], axis = 0, inplace = True)
# # 5) set index as date
#  data.set_index('Date', inplace = True)   
# return df

In [3]:
data = pd.read_csv('./data/data_1.csv')

In [4]:
data_2 = pd.read_csv('./data/data_2.csv')

In [5]:
data_3 = pd.read_csv('./data/data_3.csv')

In [6]:
data_4 = pd.read_csv('./data/data_4.csv')

In [7]:
data_5 = pd.read_csv('./data/data_5.csv')

In [8]:
data.reset_index(inplace=True)

In [9]:
data_2.reset_index(inplace=True)

In [10]:
data_3.reset_index(inplace=True)

In [11]:
data_4.reset_index(inplace=True)

In [12]:
data_5.reset_index(inplace=True)

In [13]:
data.columns = data.iloc[0]

In [14]:
data_2.columns = data_2.iloc[0]

In [15]:
data_3.columns = data_3.iloc[0]

In [16]:
data_4.columns = data_4.iloc[0]

In [17]:
data_5.columns = data_5.iloc[0]

In [18]:
data_2.columns

Index(['Date', 'Day of the Week', 'Bill Count', 'Voids', 'Gross Sales',
       'Discounts', 'Net Sales', 'Menu Item Cost', 'Labor Cost', 'Margin'],
      dtype='object', name=0)

In [19]:
data.drop([0,31], axis = 0, inplace = True)

In [20]:
data_2.drop([0,31], axis = 0, inplace = True)

In [21]:
data_3.drop([0,31], axis = 0, inplace = True)

In [22]:
data_4.drop([0,31], axis = 0, inplace = True)

In [23]:
data_5.drop([0,31], axis = 0, inplace = True)

In [24]:
data.set_index('Date', inplace = True)

In [25]:
data_2.set_index('Date', inplace = True)

In [26]:
data_3.set_index('Date', inplace = True)

In [27]:
data_4.set_index('Date', inplace = True)

In [28]:
data_5.set_index('Date', inplace = True)

In [29]:
data_2.shape

(183, 9)

In [30]:
data.describe()

,Day of the Week,Bill Count,Voids,Gross Sales,Discounts,Net Sales,Menu Item Cost,Labor Cost,Margin
count,30,30,30,30,30,30,30,30,30
unique,7,26,27,30,18,30,1,30,30
top,Saturday,103,$127.00,"$5,772.00",$0.00,"$4,391.00",$0.00,"$1,473.73","$5,513.38"
freq,5,3,2,1,13,1,30,1,1

In [31]:
data_2.describe()

,Day of the Week,Bill Count,Voids,Gross Sales,Discounts,Net Sales,Menu Item Cost,Labor Cost,Margin
count,182,183,183,183,183,183,183,183,183
unique,7,89,135,182,104,179,39,182,182
top,Sunday,82,$86.00,"$3,555.00",$0.00,"$6,029.00",$0.00,"$1,136.97","$3,048.28"
freq,27,8,5,2,69,3,85,2,2

In [32]:
data_2.isnull().sum().sort_values(ascending = False)

0
Day of the Week    1
Margin             0
Labor Cost         0
Menu Item Cost     0
Net Sales          0
Discounts          0
Gross Sales        0
Voids              0
Bill Count         0
dtype: int64

In [33]:
data.isnull().sum().sort_values(ascending = False)

0
Margin             0
Labor Cost         0
Menu Item Cost     0
Net Sales          0
Discounts          0
Gross Sales        0
Voids              0
Bill Count         0
Day of the Week    0
dtype: int64

In [34]:
data_3.isnull().sum().sort_values(ascending = False)

0
Day of the Week    1
Margin             0
Labor Cost         0
Menu Item Cost     0
Net Sales          0
Discounts          0
Gross Sales        0
Voids              0
Bill Count         0
dtype: int64

In [35]:
data_4.isnull().sum().sort_values(ascending = False)

0
Day of the Week    1
Margin             0
Labor Cost         0
Menu Item Cost     0
Net Sales          0
Discounts          0
Gross Sales        0
Voids              0
Bill Count         0
dtype: int64

In [36]:
data_5.isnull().sum().sort_values(ascending = False)

0
Day of the Week    1
Margin             0
Labor Cost         0
Menu Item Cost     0
Net Sales          0
Discounts          0
Gross Sales        0
Voids              0
Bill Count         0
dtype: int64

In [37]:
data_5.

SyntaxError: invalid syntax (<ipython-input-37-9fef216a8951>, line 1)

In [38]:
#merge=pd.merge(data,data_2, how='inner', left_index=True, right_index=True)

In [39]:
#merge

In [43]:
data.merge(data_2, how='inner'

TypeError: merge() got an unexpected keyword argument 'index'

In [41]:
data.shape

(30, 9)

In [42]:
data_2.shape

(183, 9)